







<!DOCTYPE html>
<!--[if lte IE 9]><html class="ie ie9 lte9" lang="en"><![endif]-->
<!--[if !IE]><!--><html lang="en"><!--<![endif]-->
<head dir="ltr">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta data-rh="true" property="og:title" content="Mathematics for Computer Science" />
        <meta data-rh="true" property="og:description" content="This subject offers an interactive introduction to discrete mathematics oriented toward computer science and engineering." />
        <meta data-rh="true" property="title" content="Mathematics for Computer Science" />
        <meta data-rh="true" property="description" content="This subject offers an interactive introduction to discrete mathematics oriented toward computer science and engineering." />
        <meta data-rh="true" property="image" content="https://openlearninglibrary.mit.edu/asset-v1:OCW+6.042J+2T2019+type@asset+block@6.042J_image.jpg" />




  
<title data-base-title="
 Download Course Materials | 6.042J Courseware | MIT Open Learning Library">
  
 Download Course Materials | Download Course Materials | 6.042J Courseware | MIT Open Learning Library
</title>


      <script type="text/javascript">
        /* immediately break out of an iframe if coming from the marketing website */
        (function(window) {
          if (window.location !== window.top.location) {
            window.top.location = window.location;
          }
        })(this);
      </script>

  

  <script type="text/javascript" src="/static/js/i18n/en/djangojs.2623d59dd64d.js"></script>
  <script type="text/javascript" src="/static/js/ie11_find_array.bd1c6dc7a133.js"></script>

  <link rel="icon" type="image/x-icon" href="/static/mitx/images/favicon.d1bcd48bed5b.ico" />

  
  

    <link href="/static/mitx/css/lms-style-vendor.68e48093f5dd.css" rel="stylesheet" type="text/css" />



    
  

    <link href="/static/mitx/css/lms-main-v1.7998f3c07329.css" rel="stylesheet" type="text/css" />




    
    <script type="text/javascript" src="/static/js/lms-main_vendor.3c3c9a2604d6.js" charset="utf-8"></script>


    
    <script type="text/javascript" src="/static/js/lms-application.0e3fae472a20.js" charset="utf-8"></script>



  
    
    
    <script type="text/javascript" src="/static/bundles/commons.8238f7bcba1eace256d4.6d13bc2936cc.js" ></script>



  <script>
    window.baseUrl = "/static/";
    (function (require) {
      require.config({
          baseUrl: window.baseUrl
      });
    }).call(this, require || RequireJS.require);
  </script>
  <script type="text/javascript" src="/static/lms/js/require-config.38226099c6ad.js"></script>
  
    <script type="text/javascript">
        (function (require) {
          require.config({
              paths: {
                'js/courseware/link_clicked_events': 'js/courseware/link_clicked_events',
'hls': 'common/js/vendor/hls.8f15a0109b05',
'js/dateutil_factory': 'js/dateutil_factory.be68acdff619',
'js/groups/discussions_management/discussions_dashboard_factory': 'js/discussions_management/views/discussions_dashboard_factory.2e10d9097343',
'js/courseware/toggle_element_visibility': 'js/courseware/toggle_element_visibility.d5f10bc65ed0',
'js/courseware/course_info_events': 'js/courseware/course_info_events.2fc35b57627f',
'js/student_account/logistration_factory': 'js/student_account/logistration_factory.ec1aa0dd526b',
'js/views/message_banner': 'js/views/message_banner.bc5a1361d5f5',
'moment-timezone': 'common/js/vendor/moment-timezone-with-data.60142e6c4416',
'js/courseware/accordion_events': 'js/courseware/accordion_events.6064c7809de5',
'course_bookmarks/js/views/bookmark_button': 'course_bookmarks/js/views/bookmark_button.d4cfaf3361fa',
'js/courseware/courseware_factory': 'js/courseware/courseware_factory.1504fc10caef',
'moment': 'common/js/vendor/moment-with-locales.43ec67e44612',
'js/groups/views/cohorts_dashboard_factory': 'js/groups/views/cohorts_dashboard_factory.7f46663f97b4',
'draggabilly': 'js/vendor/draggabilly.26caba6f7187'
            }
          });
        }).call(this, require || RequireJS.require);
    </script>
  

  

  

    <link href="/static/mitx/css/lms-style-course-vendor.730dda42e3c1.css" rel="stylesheet" type="text/css" />




  

    <link href="/static/mitx/css/lms-course.a4d5d31afd45.css" rel="stylesheet" type="text/css" />




<script type="text/javascript" src="/static/js/jquery.autocomplete.3bd10d7510d2.js"></script>
<script type="text/javascript" src="/static/js/src/tooltip_manager.da362490e199.js"></script>

<link href="/static/css/vendor/jquery.autocomplete.896181d3ec33.css" rel="stylesheet" type="text/css">
  

  

  


  


<script type="application/json" id="user-metadata">
    {"username": "", "course_upgrade_deadline": null, "has_staff_access": false, "dynamic_upgrade_deadline": null, "course_key_fields": {"course": "6.042J", "run": "2T2019", "org": "OCW"}, "user_id": null, "upgrade_price": "Free", "upgrade_link": null, "course_end": "2019-07-01T00:00:00+00:00", "schedule_start": null, "pacing_type": "self_paced", "audit_access_deadline": null, "forum_roles": [], "course_start": "2019-04-01T00:00:00+00:00", "enrollment_mode": null, "partition_groups": {}, "program_key_fields": null, "course_id": "course-v1:OCW+6.042J+2T2019", "course_duration": null, "has_non_audit_enrollments": false, "enrollment_time": null}
</script>

  

  


  


<!-- dummy Segment -->
<script type="text/javascript">
  var analytics = {
    track: function() { return; },
    trackLink: function() { return; },
    pageview: function() { return; },
    page: function() { return; }
  };
</script>
<!-- end dummy Segment -->


  <meta name="path_prefix" content="">

  

  <meta name="openedx-release-line" content="juniper" />







<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-5145472-41"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-5145472-41');
</script>
<!-- End Global site tag (gtag.js) - Google Analytics -->

</head>

<body class="ltr view-in-course view-courseware courseware  lang_en">


<div id="page-prompt"></div>
  <div class="window-wrap" dir="ltr">
    <a class="nav-skip sr-only sr-only-focusable" href="#main">Skip to main content</a>

        <!--
To override this page, add a header.html file in the following
location: {your_theme}/lms/templates/header/header.html

If you do not wish to override the header, you can simply delete
this file from your theme's repository.
-->














<header class="global-header slim">
    <div class="main-header">
        





<h1 class="header-logo">
  <a href="/dashboard">
    
    <img  class="logo" src="/static/mitx/images/logo.7526c44e9b92.svg" alt="MIT Open Learning Library Home Page"/>
    
  </a>
</h1>

        <div class="hamburger-menu" role="button" aria-label=Options Menu aria-expanded="false" aria-controls="mobile-menu" tabindex="0">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
            








<nav class="nav-links" aria-label=Supplemental Links>
  <div class="secondary">
    <div>
      <ul class="custom-nav mobile-nav-item hidden-mobile nav-item">
          <li><a href="https://openlearning.mit.edu/Open-Learning-Library">All Courses</a></li>
          <li><a href="https://openlearninglibrary.mit.edu/about">About</a></li>
          <li><a href="https://openlearninglibrary.mit.edu/contact">Contact</a></li>
      </ul>
      <div class="mobile-nav-item hidden-mobile nav-item mobile-pad-item">
        <a class="sign-in-btn btn" href="/login?next=%2Fcourses%2Fcourse-v1%3AOCW%2B6.042J%2B2T2019%2Fcourseware%2F2fd2d133dd7d4b0bb459eb1304928688%2F330803e875954952b37f886f36eec346%2F">Sign in</a>
      </div>
      <div class="mobile-nav-item hidden-mobile nav-item mobile-pad-item">
        <a class="register-btn btn mt0" href="/register?next=%2Fcourses%2Fcourse-v1%3AOCW%2B6.042J%2B2T2019%2Fcourseware%2F2fd2d133dd7d4b0bb459eb1304928688%2F330803e875954952b37f886f36eec346%2F">Create Account</a>
      </div>
      <div class="mobile-nav-item nav-item mobile-pad-item give-btn">
        <a href="https://giving.mit.edu/give/to?fundId=3894990" target="_blank">
          <img width="30px" height="30px" src="/static/mitx/images/heart.54f72fc07881.png"/>
          Give
        </a>
      </div>
    </div>
  </div>
</nav>

    </div>
    <div class="mobile-menu hidden" aria-label=More Options role="menu" id="mobile-menu"></div>
</header>

<!--[if lte IE 9]>
<div class="ie-banner" aria-hidden="true"><strong>Warning:</strong> Your browser is not fully supported. We strongly recommend using <a href="https://www.google.com/chrome" rel="noopener" target="_blank">Chrome</a> or <a href="http://www.mozilla.org/firefox" rel="noopener" target="_blank">Firefox</a>.</div>
<![endif]-->




<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500|Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet"/>

<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" href="/static/mitx/css/lms-main-v2.94e0a4e29f9a.css"/>

        








    










    <div class="marketing-hero"></div>

    <div class="content-wrapper main-container" id="content" dir="ltr">
      














<script type="text/template" id="image-modal-tpl">
    <div class="wrapper-modal wrapper-modal-image">
  <section class="image-link">
    <%= smallHTML%>
    <a href="#" class="modal-ui-icon action-fullscreen" role="button">
      <span class="label">
        <span class="icon fa fa-arrows-alt fa-large" aria-hidden="true"></span> <%- gettext("Fullscreen") %>
      </span>
    </a>
  </section>

  <section class="image-modal">
    <section class="image-content">
      <div class="image-wrapper">
        <img alt="<%= largeALT %>, <%- gettext('Large') %>" src="<%= largeSRC %>" />
      </div>

      <a href="#" class="modal-ui-icon action-close" role="button">
        <span class="label">
          <span class="icon fa fa-remove fa-large" aria-hidden="true"></span> <%- gettext("Close") %>
        </span>
      </a>

      <ul class="image-controls">
        <li class="image-control">
          <a href="#" class="modal-ui-icon action-zoom-in" role="button">
            <span class="label">
              <span class="icon fa fa fa-search-plus fa-large" aria-hidden="true"></span> <%- gettext("Zoom In") %>
            </span>
          </a>
        </li>

        <li class="image-control">
          <a href="#" class="modal-ui-icon action-zoom-out is-disabled" aria-disabled="true" role="button">
            <span class="label">
              <span class="icon fa fa fa-search-minus fa-large" aria-hidden="true"></span> <%- gettext("Zoom Out") %>
            </span>
          </a>
        </li>
      </ul>
    </section>
  </section>
</div>

</script>








<div class="message-banner" aria-live="polite"></div>

  








    
        <nav class="courseware wrapper-course-material" aria-label="Course Material">
            <div class="course-material">
                
                <ol class="tabs course-tabs">
                    





  
  <li class="tab">
  <a href="/courses/course-v1:OCW+6.042J+2T2019/course/" class="active">
  Course
      <span class="sr">, current location</span>
  </a>
  </li>
  
  <li class="tab">
  <a href="/courses/course-v1:OCW+6.042J+2T2019/9817b7d039b942c3aad1cdb9524b7c5d/" class="">
  Resource Index
  </a>
  </li>

                    
                </ol>
            </div>
        </nav>


<div class="container"
    lang="en"
  >
  <div class="course-wrapper" role="presentation">

    <section class="course-content" id="course-content">
        <header class="page-header has-secondary">
            <div class="page-header-main">
                <nav aria-label="Course" class="sr-is-focusable" tabindex="-1">
                    <div class="has-breadcrumbs">
                        <div class="breadcrumbs">
                                <span class="nav-item nav-item-course">
                                    <a href="/courses/course-v1:OCW+6.042J+2T2019/course/">Course</a>
                                </span>
                                <span class="icon fa fa-angle-right" aria-hidden="true"></span>
                                <span class="nav-item nav-item-chapter" data-course-position="8" data-chapter-position="1">
                                    <a href="/courses/course-v1:OCW+6.042J+2T2019/course/#block-v1:OCW+6.042J+2T2019+type@chapter+block@2fd2d133dd7d4b0bb459eb1304928688">Download Course Materials</a>
                                </span>
                                <span class="icon fa fa-angle-right" aria-hidden="true"></span>
                                <span class="nav-item nav-item-section">
                                    <a href="/courses/course-v1:OCW+6.042J+2T2019/course/#block-v1:OCW+6.042J+2T2019+type@sequential+block@330803e875954952b37f886f36eec346">Download Course Materials</a>
                                </span>
                                <span class="icon fa fa-angle-right" aria-hidden="true"></span>
                            <span class="nav-item nav-item-sequence">Download Course Materials</span>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <main id="main" tabindex="-1" aria-label="Content">

              
<div class="xblock xblock-public_view xblock-public_view-sequential xmodule_display xmodule_SequenceModule" data-request-token="f0ac1b6cc2f211f19edc0afffb1c3153" data-init="XBlockToXModuleShim" data-graded="False" data-type="Sequence" data-runtime-version="1" data-block-type="sequential" data-runtime-class="LmsRuntime" data-has-score="False" data-usage-id="block-v1:OCW+6.042J+2T2019+type@sequential+block@330803e875954952b37f886f36eec346" data-course-id="course-v1:OCW+6.042J+2T2019">
  <script type="json/xblock-args" class="xblock-json-init-args">
    {"xmodule-type": "Sequence"}
  </script>
  


<div id="sequence_330803e875954952b37f886f36eec346" class="sequence" data-id="block-v1:OCW+6.042J+2T2019+type@sequential+block@330803e875954952b37f886f36eec346"
     data-position="1" data-ajax-url="/courses/course-v1:OCW+6.042J+2T2019/xblock/block-v1:OCW+6.042J+2T2019+type@sequential+block@330803e875954952b37f886f36eec346/handler/xmodule_handler"
     data-next-url="None" data-prev-url="/courses/course-v1:OCW+6.042J+2T2019/courseware/1f21a7b3db774707850724a05f71de86/8ef235bedffb4d8687144ee551e97b7f/?child=last"
     data-save-position="false"
     data-show-completion="false"
>

  <div class="sequence-nav">
    <button class="sequence-nav-button button-previous">
      <span class="icon fa fa-chevron-prev" aria-hidden="true"></span>
      <span class="sequence-nav-button-label">Previous</span>
    </button>
    <button class="sequence-nav-button button-next">
      <span class="sequence-nav-button-label">Next</span>
      <span class="icon fa fa-chevron-next" aria-hidden="true"></span>
    </button>
    <nav class="sequence-list-wrapper" aria-label="Sequence">
      <ol id="sequence-list" role="tablist">
        <li role="presentation">
          <button class="seq_other inactive nav-item tab"
            role="tab"
            tabindex="-1"
            aria-selected="false"
            aria-expanded="false"
            aria-controls="seq_content"
            data-index="0"
            data-id="block-v1:OCW+6.042J+2T2019+type@vertical+block@3e385c5c7f4a4f7a9cac2d2f9e864fad"
            data-element="1"
            data-page-title="Download Course Materials"
            data-path="Download Course Materials &gt; Download Course Materials &gt; Download Course Materials"
            data-graded="False"
            id="tab_0">
            <span class="icon fa seq_other" aria-hidden="true"></span>
            <span class="fa fa-fw fa-bookmark bookmark-icon is-hidden" aria-hidden="true"></span>
            <div class="sequence-tooltip sr"><span class="sr">other&nbsp;</span>Download Course Materials<span class="sr bookmark-icon-sr">&nbsp;</span></div>
          </button>
        </li>
      </ol>
    </nav>
  </div>
  <div class="sr-is-focusable" tabindex="-1"></div>

  <div id="seq_contents_0"
    aria-labelledby="tab_0"
    aria-hidden="true"
    class="seq_contents tex2jax_ignore asciimath2jax_ignore">
    
&lt;div class=&#34;xblock xblock-public_view xblock-public_view-vertical&#34; data-request-token=&#34;f0ac1b6cc2f211f19edc0afffb1c3153&#34; data-init=&#34;VerticalStudentView&#34; data-graded=&#34;False&#34; data-runtime-version=&#34;1&#34; data-block-type=&#34;vertical&#34; data-runtime-class=&#34;LmsRuntime&#34; data-has-score=&#34;False&#34; data-usage-id=&#34;block-v1:OCW+6.042J+2T2019+type@vertical+block@3e385c5c7f4a4f7a9cac2d2f9e864fad&#34; data-course-id=&#34;course-v1:OCW+6.042J+2T2019&#34;&gt;
  

  &lt;h2 class=&#34;hd hd-2 unit-title&#34;&gt;Download Course Materials&lt;/h2&gt;


&lt;div class=&#34;vert-mod&#34;&gt;
    &lt;div class=&#34;vert vert-0&#34; data-id=&#34;block-v1:OCW+6.042J+2T2019+type@html+block@087cd071f423464c87c791ac877eec39&#34;&gt;
        
&lt;div class=&#34;xblock xblock-public_view xblock-public_view-html xmodule_display xmodule_HtmlBlock&#34; data-request-token=&#34;f0ac1b6cc2f211f19edc0afffb1c3153&#34; data-init=&#34;XBlockToXModuleShim&#34; data-graded=&#34;False&#34; data-runtime-version=&#34;1&#34; data-block-type=&#34;html&#34; data-runtime-class=&#34;LmsRuntime&#34; data-has-score=&#34;False&#34; data-usage-id=&#34;block-v1:OCW+6.042J+2T2019+type@html+block@087cd071f423464c87c791ac877eec39&#34; data-course-id=&#34;course-v1:OCW+6.042J+2T2019&#34;&gt;
  &lt;script type=&#34;json/xblock-args&#34; class=&#34;xblock-json-init-args&#34;&gt;
    {&#34;xmodule-type&#34;: &#34;HTMLModule&#34;}
  &lt;/script&gt;
  &lt;p&gt;You may download, share, and adapt OCW course materials per the terms of our &lt;a href=&#34;https://ocw.mit.edu/terms/#cc&#34; target=&#34;_blank&#34; creative=&#34;&#34; commons=&#34;&#34; attribution-noncommercial-sharealike=&#34;&#34; cc=&#34;&#34; by-nc-sa=&#34;&#34; license=&#34;&#34; p=&#34;&#34;&gt; Creative Commons Attribution-NonCommercial-ShareAlike (CC BY-NC-SA) license.&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&#34;https://ocw.mit.edu/ans15436/ZipForEndUsers/6/6-042j-spring-2015/6-042j-spring-2015.zip&#34; target=&#34;[object Object]&#34;&gt;ZIP package&lt;/a&gt; (102 MB) of all course materials, except for videos provided separately through the links below.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt; Lecture Videos&lt;/strong&gt; &lt;br /&gt; &lt;br /&gt; Free Download&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&lt;a href=&#34;https://archive.org/details/MIT6.042JS15/&#34; target=&#34;[object Object]&#34;&gt;Internet Archive&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;Free Streaming&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&lt;a href=&#34;https://www.youtube.com/playlist?list=PLUl4u3cNGP60UlabZBeeqOuoLuj_KNphQ&#34; target=&#34;[object Object]&#34;&gt;YouTube&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;
&lt;/div&gt;

    &lt;/div&gt;
&lt;/div&gt;

&lt;/div&gt;

  </div>
  <div id="seq_content" role="tabpanel"></div>

  <nav class="sequence-bottom" aria-label="Section">
    <button class="sequence-nav-button button-previous">
      <span class="icon fa fa-chevron-prev" aria-hidden="true"></span>
      <span>Previous</span>
    </button>
    <button class="sequence-nav-button button-next">
      <span>Next</span>
      <span class="icon fa fa-chevron-next" aria-hidden="true"></span>
    </button>
  </nav>
</div>

</div>

        </main>
    </section>

    <section class="courseware-results-wrapper">
      <div id="loading-message" aria-live="polite" aria-relevant="all"></div>
      <div id="error-message" aria-live="polite"></div>
      <div class="courseware-results search-results" data-course-id="course-v1:OCW+6.042J+2T2019" data-lang-code="en"></div>
    </section>

  </div>
  









    
    
    <script type="text/javascript" src="/static/bundles/CourseSock.0202c1957d8234ef6792.881550144c98.js" ></script>
      <script type="text/javascript">
        
    new CourseSock({
        el:'.verification-sock'
    });

      </script>


</div>
<div class="container-footer">
    <div class="course-license">
      


    
    <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="noopener" target="_blank">
        <span class="sr">Creative Commons licensed content, with terms as follow:&nbsp;</span><span aria-hidden="true" class="icon-cc"></span>
            <span class="sr">Attribution&nbsp;</span><span aria-hidden="true" class="icon-cc-by"></span>
            <span class="sr">Noncommercial&nbsp;</span><span aria-hidden="true" class="icon-cc-nc"></span>
            <span class="sr">Share Alike&nbsp;</span><span aria-hidden="true" class="icon-cc-sa"></span>
        <span class="license-text">Some Rights Reserved</span>
    </a>

    </div>
</div>

      
    </div>

        




<div class="wrapper wrapper-footer">
  <footer id="footer-openedx" class="grid-container"
  >
    <div class="colophon">
      <nav class="nav-colophon" aria-label="About">
        <ol>
          <li class="list-title">Open Learning Library</li>
          <li><a href="https://openlearninglibrary.mit.edu/about">About</a></li>
          <li><a href="https://accessibility.mit.edu/">Accessibility</a></li>
          <li><a href="https://openlearning.mit.edu/Open-Learning-Library">All Courses</a></li>
          <li><a href="https://openlearninglibrary.mit.edu/about#why_support_mit_faq">Why Support MIT Open Learning?</a></li>
          <li><a href="mailto:&#109;&#105;&#116;&#111;&#108;&#108;&#045;&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#109;&#105;&#116;&#046;&#101;&#100;&#117;">Help</a></li>
        </ol>
        <ul>
          <li class="list-title">Connect</li>
          <li>
            <a href="https://openlearninglibrary.mit.edu/contact">Contact</a>
          </li>
          <li>
            <a href="https://twitter.com/mitopenlearning?lang=en" target="_blank">Twitter</a>
          </li>
          <li>
            <a href="https://www.facebook.com/mitopenlearning/" target="_blank">Facebook</a>
          </li>
        </ul>
      </nav>


    </div>
  </footer>

  <footer id="footer-bottom">
    <div class="container">
      <nav class="nav-legal" aria-label="Legal">
        <ul class="list-inline">
            <li class="nav-legal-01">
              <a href="https://openlearninglibrary.mit.edu/privacy">Privacy Policy</a>
            </li>
            <li class="nav-legal-02">
              <a href="https://openlearninglibrary.mit.edu/tos">Terms of Service</a>
            </li>
        </ul>
      </nav>
      <p class="copyright">&copy; Massachusetts Institute of Technology, 2026</p>
    </div>
  </footer>
</div>



  </div>

  
  
  <script type="text/javascript" src="/static/common/js/vendor/jquery.scrollTo.525edcc52fe8.js"></script>
  <script type="text/javascript" src="/static/js/vendor/flot/jquery.flot.d3d45ff0c6a8.js"></script>

  
    <script type="text/javascript" src="/static/js/lms-courseware.515d666a83a0.js" charset="utf-8"></script>


  




<script type="text/javascript">
    // Fast Preview was introduced in 2.5. However, it
    // causes undesirable flashing/font size changes when
    // MathJax is used for interactive preview (equation editor).
    // Setting processSectionDelay to 0 (see below) fully eliminates
    // fast preview, but to reduce confusion, we are also setting
    // the option as displayed in the context menu to false.
    // When upgrading to 2.6, check if this variable name changed.
    window.MathJax = {
      menuSettings: {CHTMLpreview: false}
    };
</script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [
        ["\\(","\\)"],
        ['[mathjaxinline]','[/mathjaxinline]']
      ],
      displayMath: [
        ["\\[","\\]"],
        ['[mathjax]','[/mathjax]']
      ]
    }
  });
</script>
<script type="text/x-mathjax-config">

  // In order to eliminate all flashing during interactive
  // preview, it is necessary to set processSectionDelay to 0
  // (remove delay between input and output phases). This
  // effectively disables fast preview, regardless of
  // the fast preview setting as shown in the context menu.
  MathJax.Hub.processSectionDelay = 0;

  MathJax.Hub.signal.Interest(function(message) {
    if(message[0] === "End Math") {
        set_mathjax_display_div_settings();
    }
  });
  function set_mathjax_display_div_settings() {
    $('.MathJax_Display').each(function( index ) {
      this.setAttribute('tabindex', '0');
      this.setAttribute('aria-live', 'off');
      this.removeAttribute('role');
      this.removeAttribute('aria-readonly');
    });
  }
</script>

<script type="text/javascript">
    // Activating Mathjax accessibility files
    window.MathJax = {
        menuSettings: {
            collapsible: true,
            autocollapse: false,
            explorer: true
        }
    };
</script>

<!-- This must appear after all mathjax-config blocks, so it is after the imports from the other templates.
     It can't be run through static.url because MathJax uses crazy url introspection to do lazy loading of
     MathJax extension libraries -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mathjax@2.7.5/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>



  
    
      <script type="text/javascript" src="/static/js/courseware/courseware_factory.1504fc10caef.js?raw"></script>
    <script type="text/javascript">
        (function (require) {
            require(['js/courseware/courseware_factory'], function (CoursewareFactory) {
                
    CoursewareFactory();
  
            });
        }).call(this, require || RequireJS.require);
    </script>



  <script type="text/javascript">
    var $$course_id = "course\u002Dv1:OCW+6.042J+2T2019";
  </script>

      <script type="text/javascript">
        // Disable discussions
        $('.xblock-student_view-discussion button.discussion-show').attr('disabled', true);

        // Insert message informing user discussions are only available to logged in users.
        $('.discussion-module')
      </script>

<script src='/static/bundles/HtmlBlockPreview.e5bb7041081313976322.cdff075fa45a.js' type='application/javascript'></script>
<script src='/static/bundles/XModuleShim.0e349eed81367fb7ccdd.dd1461bd28b9.js' type='application/javascript'></script>
<script src='/static/bundles/VerticalStudentView.0cc6b03817b21d48773d.e4ef694eb8ae.js' type='application/javascript'></script>
<script src='/static/bundles/SequenceModule.bc51907af6c99e9f0981.cfcf2e94d181.js' type='application/javascript'></script>



  



  <script type="text/javascript" src="/static/js/vendor/noreferrer.aa62a3e70ffa.js" charset="utf-8"></script>
  <script type="text/javascript" src="/static/js/utils/navigation.08930e16ab3d.js" charset="utf-8"></script>
  <script type="text/javascript" src="/static/js/header/header.309a1243e175.js"></script>
  <script type="text/javascript" src="/static/mitx/js/login-register.b3abdb94918b.js" charset="utf-8"></script>
  <script type="text/javascript" src="/static/mitx/js/accordion.e2d839d41968.js" charset="utf-8"></script>
  <script type="text/javascript" src="/static/mitx/js/smooth-scroll.64b1b6baa03d.js" charset="utf-8"></script>
  <script type="text/javascript" src="/static/mitx/js/common-scripts.6fe0437cc75a.js" charset="utf-8"></script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-61fbc86b7d70a953"></script>
  
</body>
</html>


